body {
  background-color: azure;
  display: flex;
  justify-content: center;
}

.todoStyle {
  display: flex;
  justify-content: left;
  align-items: center;
}

.chk {
  width: 75 px;
  height: 75 px;
}
